body{
    color: white;
    max-width: 100wv;
}

    body p {
        font-family: sans-serif;
        font-size: 1.5vw;
        font-style: bold;
        position: fixed;
        top: 50%;
        left: 5%;
    }
    body p span {
        font-size: 2vw;
    }
@media (min-width: 1171px){
    
body div {
    max-width: 100wv;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-image: url(../img/man-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0;
}
}
@media (min-width: 992px) {
body div {
    max-width: 100wv;
    height: 100vh;
    position: relative;
    top: 0;    
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../img/man-2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
    body div p{
        position: absolute;
        left: 60vw;
        top: 40vh;
    }
}
