#main-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/header/pictures_on_the_wall.jpg");
  text-align: center;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center; }
